* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("../images/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  width: 25%;
  
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
section .lrnmore {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.lrnmore:hover {
  background: #10c331;
  color: white;
  
}
.lrnmore:active {
  background-color: #051a06;
  box-shadow: 0 5px #666;
  transform: translateY(12px);
}

section .about {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.about:hover {
 
  color: #10c331;
  transform: scale(1.2)
}

section .home {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.home:hover {
 
  color: #04aff7;
  transform: scale(1.2)
}

section .signup {
  background: #10c331;
  color: white;
}

.signup:hover {
  background: #fff;
  color: #000;
}


main {
  width: 100%;
  height: 105vh;
  scale: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  
}

section h3 {
  font-size: 30px;
  font-weight: 100;
  
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 20px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}





